body {
    font-family: "TT Norms", Arial, Helvetica, sans-serif;
}

/* Sign-in Overlay Styles */
.sign-in-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Close Button Styles */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-right: 50px;
}

.close-button:hover {
    color: #777;
}

/* Close Text Styles */
.close-text {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}
