
<main>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Noto+Sans:300,400,500,600,700,800|PT+Mono:300,400,500,600,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script type="module" src="./hoisted.1b4b5208.js"></script>
    <script type="module" src="./gtm.js"></script>
    <section class="mb-8">
        <div class="page-header py-5 py-md-0" style="background-image:url('assets/home/bg2.jpg');min-height:90vh"><span
                class="mask bg-black opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-sm-9 text-center mx-auto">
                        <h1 class="text-white mb-4">Collection is here</h1>
                        <p class="lead text-white mb-sm-6 mb-4">The time is now for it to be okay to be great. People in
                            this world shun people for being great. For being a bright color. For standing out.</p>
                        <button class="btn btn-white btn-lg">Explore New Collection</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container my-5">
        <div class="d-block text-center mb-5">
            <h3>Shop by category</h3>
            <a class="text-dark font-weight-bold" href="#">Browse all categories &#62;</a>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
                <a href="#">
                    <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
                        <div class="full-background"
                            style="background-image:url(assets/home/category1.jpg);background-size:cover">
                        </div>
                        <div class="card-body text-center w-100 pt-8">
                            <div class="d-block mt-10">
                                <p class="text-white font-weight-bold mb-1">Pre-fall</p>
                                <h4 class="text-white font-weight-bolder">Silk Dresses</h4><a href="#"
                                    class="text-white text-sm font-weight-semibold mb-0">See products &gt;</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="#">
                    <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
                        <div class="full-background"
                            style="background-image:url('assets/home/category2.jpg');background-size:cover">
                        </div>
                        <div class="card-body text-center w-100 pt-8">
                            <div class="d-block mt-10">
                                <p class="text-white font-weight-bold mb-1">Designers</p>
                                <h4 class="text-white font-weight-bolder">Suits</h4><a href="#"
                                    class="text-white text-sm font-weight-semibold mb-0">See products &gt;</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="#">
                    <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
                        <div class="full-background"
                            style="background-image:url('assets/home/category3.jpg');background-size:cover">
                        </div>
                        <div class="card-body text-center w-100 pt-8">
                            <div class="d-block mt-10">
                                <p class="text-white font-weight-bold mb-1">Summer</p>
                                <h4 class="text-white font-weight-bolder">Festival</h4><a href="#"
                                    class="text-white text-sm font-weight-semibold mb-0">See products &gt;</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="#">
                    <div class="card card-background align-items-start mb-4 mb-lg-0 undefined">
                        <div class="full-background"
                            style="background-image:url(assets/home/category4.jpg);background-size:cover">
                        </div>
                        <div class="card-body text-center w-100 pt-8">
                            <div class="d-block mt-10">
                                <p class="text-white font-weight-bold mb-1">Sale</p>
                                <h4 class="text-white font-weight-bolder">Showroom</h4><a href="#"
                                    class="text-white text-sm font-weight-semibold mb-0">See products &gt;</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <section class="mb-8">
            <div class="page-header py-5 py-md-0"
                style="background-image:url(assets/home/bg2.jpg);min-height:50vh;border-radius:1rem"><span
                    class="mask bg-black opacity-6"></span>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-sm-9 text-center mx-auto">
                            <h1 class="text-white mb-4">Basic Starter Pack</h1>
                            <p class="lead text-white mb-sm-6 mb-4">The time is now for it to be okay to be great.
                                People in this world shun people for being great. For being a bright color. For standing
                                out.</p><button class="btn btn-white btn-lg">Explore New Collection</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="my-5">
            <div class="card card-product card-plain">
                <div class="row">
                    <div class="col-12 col-lg-7 mx-auto text-center">
                        <h2 class="mb-3">Product Features</h2>
                        <p class="mb-5">Society has put up so many boundaries, so many limitations on what’s right and
                            wrong that it’s almost impossible</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-lg-6 pe-5">
                        <div class="row">
                            <h4 class="mb-3">Product Description</h4>
                            <p class="mb-5">Society has put up so many boundaries, so many limitations on what’s right
                                and wrong that it’s almost impossible to get a pure thought out. It’s like a little kid,
                                a little boy, looking at colors, and no one told him what colors are good, before
                                somebody tells you you shouldn’t like pink because that’s for girls, or you’d instantly
                                become a gay two-year-old.</p>
                            <div class="col-12">
                                <div class="d-flex mb-4"><svg class="me-2" width="30" height="30" viewBox="0 0 20 30"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10 23C14.4183 23 18 19.4183 18 15C18 10.5817 14.4183 7 10 7C5.58172 7 2 10.5817 2 15C2 19.4183 5.58172 23 10 23ZM13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929C13.3166 11.9024 12.6834 11.9024 12.2929 12.2929L9 15.5858L7.70711 14.2929C7.31658 13.9024 6.68342 13.9024 6.29289 14.2929C5.90237 14.6834 5.90237 15.3166 6.29289 15.7071L8.29289 17.7071C8.68342 18.0976 9.31658 18.0976 9.70711 17.7071L13.7071 13.7071Z"
                                            fill="#111827"></path>
                                    </svg>
                                    <p>Oil is a primary source of energy for various sectors, including transportation,
                                        industries, and residential use.</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex mb-4"><svg class="me-2" width="30" height="30" viewBox="0 0 20 30"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10 23C14.4183 23 18 19.4183 18 15C18 10.5817 14.4183 7 10 7C5.58172 7 2 10.5817 2 15C2 19.4183 5.58172 23 10 23ZM13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929C13.3166 11.9024 12.6834 11.9024 12.2929 12.2929L9 15.5858L7.70711 14.2929C7.31658 13.9024 6.68342 13.9024 6.29289 14.2929C5.90237 14.6834 5.90237 15.3166 6.29289 15.7071L8.29289 17.7071C8.68342 18.0976 9.31658 18.0976 9.70711 17.7071L13.7071 13.7071Z"
                                            fill="#111827"></path>
                                    </svg>
                                    <p>Oil is highly versatile and used in the production of a wide range of products.
                                        It serves as a raw material for manufacturing plastics.</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex mb-4"><svg class="me-2" width="30" height="30" viewBox="0 0 20 30"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10 23C14.4183 23 18 19.4183 18 15C18 10.5817 14.4183 7 10 7C5.58172 7 2 10.5817 2 15C2 19.4183 5.58172 23 10 23ZM13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929C13.3166 11.9024 12.6834 11.9024 12.2929 12.2929L9 15.5858L7.70711 14.2929C7.31658 13.9024 6.68342 13.9024 6.29289 14.2929C5.90237 14.6834 5.90237 15.3166 6.29289 15.7071L8.29289 17.7071C8.68342 18.0976 9.31658 18.0976 9.70711 17.7071L13.7071 13.7071Z"
                                            fill="#111827"></path>
                                    </svg>
                                    <p>Oil is a crucial source of petrochemicals, which are used in the production of
                                        plastics.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="d-block d-md-flex"><img class="w-100 max-height-200 rounded-3 mb-4 mb-md-0"
                                src="assets/products/product7.jpg" alt="first_image" /></div>
                        <div class="row mt-4">
                            <div class="col-6"><img class="w-100 max-height-200 rounded-3"
                                    src="assets/products/product8.jpg" alt="third_image" /></div>
                            <div class="col-6"><img class="w-100 max-height-200 rounded-3"
                                    src="assets/products/product9.jpg" alt="fourth_image" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 mb-10">
            <section>
                <div class="page-header rounded-top" 
                     style="background-image: url('assets/home/background.jpg'); min-height: 50vh;">

                    <div class="faded opacity-10"></div>
                    <div class="container z-index-2">
                        <div class="row justify-content-center">
                            <div class="col-sm-9 text-center mx-auto pt-6">
                                <h1 class="mb-4">Exclusive Discounts for Members</h1>
                                <p class="lead mb-sm-5 px-md-8">The time is now for it to be okay to be great. People in
                                    this world shun people for being great. For being a bright color. For standing out.
                                    But the time is now to be okay to be the greatest you.</p><button
                                    class="btn btn-dark btn-lg d-flex align-items-center mx-auto"><svg class="me-2"
                                        width="15" height="15" viewBox="0 0 15 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M4.00002 3.4999C4.00002 2.34011 4.94023 1.3999 6.10002 1.3999C6.63788 1.3999 7.12849 1.6021 7.50002 1.93463C7.87158 1.6021 8.36214 1.3999 8.90002 1.3999C10.0599 1.3999 11 2.34011 11 3.4999C11 3.74535 10.9579 3.98096 10.8805 4.1999H11.7C12.4732 4.1999 13.1 4.8267 13.1 5.5999C13.1 6.3731 12.4732 6.9999 11.7 6.9999H8.20002V6.2999C8.20002 5.91331 7.88663 5.5999 7.50002 5.5999C7.11343 5.5999 6.80002 5.9133 6.80002 6.2999V6.9999H3.30002C2.52683 6.9999 1.90002 6.3731 1.90002 5.5999C1.90002 4.8267 2.52683 4.1999 3.30002 4.1999H4.11952C4.04213 3.98096 4.00002 3.74535 4.00002 3.4999ZM6.80002 4.1999V3.4999C6.80002 3.11331 6.48662 2.7999 6.10002 2.7999C5.71343 2.7999 5.40002 3.11331 5.40002 3.4999C5.40002 3.8865 5.71343 4.1999 6.10002 4.1999H6.80002ZM8.90002 4.1999C9.28663 4.1999 9.60003 3.8865 9.60003 3.4999C9.60003 3.11331 9.28663 2.7999 8.90002 2.7999C8.51341 2.7999 8.20002 3.11331 8.20002 3.4999V4.1999H8.90002Z"
                                            fill="white"></path>
                                        <path
                                            d="M6.79998 7.69995H2.59998V11.2C2.59998 11.9732 3.22678 12.6 3.99998 12.6H6.79998V7.69995Z"
                                            fill="white"></path>
                                        <path
                                            d="M8.20001 12.6H11C11.7732 12.6 12.4 11.9732 12.4 11.2V7.69995H8.20001V12.6Z"
                                            fill="white"></path>
                                    </svg>Get your code</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h3 class="font-weight-bolder mt-4 mb-2">Our customer’s opinion</h3>
                    <p class="mb-5 w-60">Society has put up so many boundaries, so many limitations on what’s right and
                        wrong that it’s almost impossible to get a pure thought out.</p>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border shadow-xs mb-4">
                                <div class="card-body text-start p-3 w-100">
                                    <div class="d-flex align-items-center"><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-light w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg></div>
                                    <p class="mt-4">We’re not always in the position that we want to be at. We’re
                                        constantly growing. We’re constantly making mistakes. We’re constantly trying to
                                        express ourselves and actualize our dreams. If you have the opportunity to play
                                        this game of life you need to appreciate every moment.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-sm position-relative me-2"><img
                                                src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1760&amp;q=80"
                                                class="rounded-circle" /></div>
                                        <h6 class="mb-0">Alexa Liras</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border shadow-xs mb-4">
                                <div class="card-body text-start p-3 w-100">
                                    <div class="d-flex align-items-center"><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg></div>
                                    <p class="mt-4">There’s nothing I really wanted to do in life that I wasn’t able to
                                        get good at. That’s my skill. I’m not really specifically talented at anything
                                        except for the ability to learn. That’s what I do. That’s what I’m here for.
                                        Don’t be afraid to be wrong because you can’t learn anything from a compliment.
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-sm position-relative me-2"><img
                                                src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1760&amp;q=80"
                                                class="rounded-circle" /></div>
                                        <h6 class="mb-0">Laurent Perrier</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <div class="card border shadow-xs mb-4">
                                <div class="card-body text-start p-3 w-100">
                                    <div class="d-flex align-items-center"><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-warning w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg><svg class="text-light w-rem flex-shrink-0"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                                clip-rule="evenodd"></path>
                                        </svg></div>
                                    <p class="mt-4">It really matters and then like it really doesn’t matter. What
                                        matters is the people who are sparked by it. And the people who are like
                                        offended by it, it doesn’t matter. Because it&#x27;s about motivating the doers.
                                        Because I’m here to follow my dreams and inspire other people to follow their
                                        dreams.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-sm position-relative me-2"><img
                                                src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1760&amp;q=80"
                                                class="rounded-circle" /></div>
                                        <h6 class="mb-0">Michael Levi</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="footer pt-3  ">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">Copyright ©<!-- -->
                        <script>document.write(new Date().getFullYear())</script> Astro Ecommerce by<a
                            href="https://www.creative-tim.com" class="text-dark ms-1" target="_blank">Creative Tim</a>.
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item"><a href="https://www.creative-tim.com" class="nav-link text-sm text-muted"
                                target="_blank">Creative Tim</a></li>
                        <li class="nav-item"><a href="https://www.creative-tim.com/presentation"
                                class="nav-link text-sm text-muted" target="_blank">About Us</a></li>
                        <li class="nav-item"><a href="https://www.creative-tim.com/blog"
                                class="nav-link text-sm text-muted" target="_blank">Blog</a></li>
                        <li class="nav-item"><a href="https://www.creative-tim.com/license"
                                class="nav-link text-sm pe-0 text-muted" target="_blank">License</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</main>
<script src="https://kit.fontawesome.com/349ee9c857.js" crossOrigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"7f7138f6198ef7dc","version":"2023.8.0","r":1,"token":"1b7cbb72744b40c580f8633c6b62637e","si":100}' crossorigin="anonymous"></script>