<div>
    <h2>Category Details</h2>
    <ul>
      <li><strong>ID:</strong> {{ category.id }}</li>
      <li><strong>Name:</strong> {{ category.name }}</li>
      <li><strong>Description:</strong> {{ category.description }}</li>
      <li>
        <strong>Edition:</strong>
        <ul>
          <li><strong>ID:</strong> {{ category.edition.id }}</li>
          <li><strong>Name:</strong> {{ category.edition.name }}</li>
          <li><strong>Description:</strong> {{ category.edition.description }}</li>
        </ul>
      </li>
    </ul>
  </div>
  